<div class="modal-panel-linkbrowser" data-current-focuspointPanelId="" data-current-fieldname="">

    <ul class="nav nav-tabs">
        <li role="presentation" class="active" data-browser-key="page">
            <a href="#">
                <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.linkbrowser.page"/>
            </a>
        </li>
        <f:for each="{linkBrowsers}" as="linkbrowser" key="key" iteration="i">
            <li role="presentation" data-browser-key="{key}">
                <a href="#">
                    <f:translate key="{linkbrowser.label}"/>
                </a>
            </li>
        </f:for>
        <a href="#" id="closelinkbrowser"><i class="fa fa-times"></i></a>
    </ul>

    <div class="modal-panel-linkbrowser-content">

        <div class="modal-panel-linkbrowser-item active" data-browser-key="page">
            <table>
                <f:for each="{tree}" as="page" iteration="i">
                    <tr class="db_list_normal {f:if(condition: page.hasSub, then: 'has-sub')}"
                        data-uid="{page.row.uid}"
                        data-pid="{page.row.pid}">
                        <td>
                            <a class="pagetree-link {f:if(condition: page.hasSub, then: 'has-sub')}"
                               href="#"
                               data-uid="{page.row.uid}"
                               data-pid="{page.row.pid}">
                                <f:if condition="{page.hasSub}">
                                    <span class="pagetree-opener"></span>
                                </f:if>
                                {page.depthData -> f:format.raw()}
                                <f:format.raw>{page.HTML}</f:format.raw>
                                <span class="pagetree-title">{page.row.title}</span>
                            </a>
                        </td>
                    </tr>
                </f:for>
            </table>
        </div>


        <f:for each="{linkBrowsers}" as="linkbrowser" key="key" iteration="i">
            <div class="modal-panel-linkbrowser-item" data-browser-key="{key}">
                <f:be.tableList tableName="{linkbrowser.configuration.table}"
                                clickTitleMode="show"
                                recordsPerPage="9999"
                                storagePid="{linkbrowser.configuration.storagePid}"
                                levels="{linkbrowser.configuration.levels}"/>
            </div>
        </f:for>
    </div>

</div>

<div class="modal-panel-main">
    <div id="t3js-crop-image-container" class="cropper-image-container">
        <div id="focuspoint-container">
            <f:image image="{image}"
                     maxWidth="1280"
                     maxHeight="980"
                     id="t3js-crop-image"
                     class="cropper-image-container-image"
                     additionalAttributes="{data-original-width: image.properties.width, data-original-height: image.properties.height}"/>

            <div data-focuspointBoxId="x"
                 class="focuspoint-item focuspoint-item-hidden ui-draggable {f:if(condition:'{focusPoints.singlePoint.resizable}==1', then:'ui-resizable')} focuspoint-item-dummy">
                <span>x</span>
            </div>
        </div>
    </div>
</div>

<div class="modal-panel-sidebar">
    <div class="panel-group" id="accordion-cropper-variants" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default panel-hidden panel-dummy">
            <div class="panel-heading" role="tab" data-append-id="id" id="cropper-accordion-heading-">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion-cropper-variants"
                       href="#cropper-collapse-"
                       aria-expanded="false"
                       aria-controls="cropper-collapse-"
                       class="t3js-crop-variant-trigger collapsed panel-link"
                       data-append-id="href,aria-controls"
                       data-crop-variant>
                        <span data-nr="" data-append-id="data-nr"><i class="fa fa-chevron-down" aria-hidden="true"></i>
                            {f:translate(id:'{focusPoints.singlePoint.title}')}
                        </span>
                    </a>
                </h4>
            </div>
            <div id="cropper-collapse-"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="cropper-accordion-heading-"
                 data-append-id="id,aria-labelledby">
                <div class="panel-body">
                    <form>
                        <input type="hidden" name="x" data-focuspointPanelId="x"/> <input type="hidden"
                                                                                          name="y"
                                                                                          data-focuspointPanelId="x"/>
                        <input type="hidden"
                               value="{focusPoints.singlePoint.defaultHeight}"
                               name="height"
                               data-focuspointPanelId="x"/> <input type="hidden"
                                                                   value="{focusPoints.singlePoint.defaultWidth}"
                                                                   name="width"
                                                                   data-focuspointPanelId="x"/>
                        <f:for each="{focusPoints.singlePoint.fields}" as="field" key="fieldname" iteration="j">
                            <f:render partial="FocuspointWizardInput"
                                      arguments="{field: field, fieldname: fieldname, j: j}"/>
                        </f:for>
                        <div class="input-group pull-right">
                            <button data-delete class="btn btn-danger singlepoint-delete"><i class="fa fa-trash"></i>
                                <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.single_point.button.delete"/>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <button data-method="new" class="btn btn-success btn-block"><i class="fa fa-plus"></i>
            <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.single_point.button.addnew"/>
        </button>
    </div>
</div>

<style type="text/css">
    .modal.modal-focuspoints .modal-dialog {
        width: auto;
        max-width: calc(100vw - 60px);
        max-height: 100vh;
    }

    .modal.modal-focuspoints .modal-dialog .modal-content {
        margin-top: 0 !important;
    }

    .modal.modal-focuspoints .panel-default, .panel, .modal.modal-focuspoints .panel-default, .panel-default {
        background-color: inherit;
        border: 0;
    }

    .modal-body-focuspoints {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }

    .modal-body-focuspoints .modal-panel-main {
        flex-grow: 1;
        padding: 15px;
        max-width: calc(100vw - 372px);
    }

    .modal-body-focuspoints .modal-panel-linkbrowser {
        background-color: #fafafa;
        color: #000;
        flex-grow: 1;
        max-width: calc(100vw - 372px);
        display: none;
        margin: 5px;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser.open {
        display: block;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser.open + .modal-panel-main {
        display: none;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser .nav-tabs {
        padding: 15px 15px 0 15px;
        position: relative;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser-content {
        background: #fafafa;
        padding: 15px;
        max-height: calc(100vh - 200px);
        overflow-y: scroll;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser-item:not(.active) {
        display: none;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser-content .recordlist tr {
        cursor: pointer;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser-content .recordlist thead .btn-group {
        display: none;
    }

    .modal-body-focuspoints .modal-panel-linkbrowser-content .recordlist tbody tr:first-child[data-uid="0"],
    .modal-body-focuspoints .modal-panel-linkbrowser-content .recordlist tbody tr:last-child[data-uid="0"] {
        display: none;
    }

    .pagetree-link.has-sub {
        position: relative;
    }

    .pagetree-link.has-sub.active .pagetree-opener {
        transform: rotate(90deg);
    }

    .pagetree-opener {
        width: 0;
        height: 0;
        display: inline-block;
        border-top: 5px solid transparent;
        border-left: 5px solid #333;
        border-bottom: 5px solid transparent;
        position: absolute;
        margin-left: -12px;
        margin-top: 4px;
        box-shadow: 0 0 0 1px #fafafa;
        background-color: #fafafa;
        z-index: 1;
        transition: transform 0.2s ease;
    }

    .db_list_normal.is-child:not(.open) {
        display: none;
    }

    #closelinkbrowser, .linkbrowser-remove {
        position: absolute;
        right: 0;
        font-size: 14px;
        padding: 12px;
        top: 0;
        opacity: 0.8;
    }

    .linkbrowser-remove {
        right: 25px;
        padding: 5px 10px;
        opacity: 0.5;
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none !important;
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container img {
        max-width: 100%;
        max-height: calc(100vh - 190px);
        width: auto;
        height: auto;
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container #focuspoint-container {
        position: relative;
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container .focuspoint-item {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;

        line-height: 7.6px;
        top: 0;
        left: 0;
        cursor: move;
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container .focuspoint-item.active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container .focuspoint-item.focuspoint-item-dummy,
    .modal-body-focuspoints .modal-panel-main .cropper-image-container .focuspoint-item.focuspoint-item-hidden {
        display: none;
    }

    .modal-body-focuspoints .modal-panel-main .cropper-image-container .focuspoint-item span {
        border: 1px dotted rgba(255, 255, 255, 0.6);
        padding: 5px;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    .modal-body-focuspoints .modal-panel-sidebar {
        background-color: #333;
        height: 100%;
        max-height: calc(100vh - 137px);
        overflow: scroll;
    }

    .modal-body-focuspoints .modal-panel-sidebar .panel-group {
        margin: 0;
        min-width: 332px;
    }

    .modal-body-focuspoints .modal-panel-sidebar .panel-hidden,
    .modal-body-focuspoints .modal-panel-sidebar .panel-dummy {
        display: none;
    }

    .modal-body-focuspoints .modal-panel-sidebar span[data-nr]:after {
        content: attr(data-nr);
    }

    .modal-body-focuspoints .modal-panel-sidebar a[aria-expanded="true"] .fa-chevron-down {
        transform: rotate(180deg);
    }

    .modal-body-focuspoints .modal-panel-sidebar input, .modal-body-focuspoints .modal-panel-sidebar textarea, .modal-body-focuspoints .modal-panel-sidebar select {
        color: #333;
    }

    .modal-body-focuspoints .modal-panel-sidebar .input-group {
        display: grid;
        grid-template-columns: auto min-content;
    }

    .modal-body-focuspoints .modal-panel-sidebar label:not(.element1), .modal-body-focuspoints .modal-panel-sidebar .singlepoint-delete {
        margin-top: 15px;
    }

    /*!
     * jQuery UI Resizable @VERSION
     */
    .ui-resizable {
        position: relative;
    }

    .ui-resizable-handle {
        position: absolute;
        font-size: 0.1px;
        display: block;
        -ms-touch-action: none;
        touch-action: none;
    }

    .ui-resizable-disabled .ui-resizable-handle,
    .ui-resizable-autohide .ui-resizable-handle {
        display: none;
    }

    .ui-resizable-n {
        cursor: n-resize;
        height: 7px;
        width: 100%;
        top: -5px;
        left: 0;
    }

    .ui-resizable-s {
        cursor: s-resize;
        height: 7px;
        width: 100%;
        bottom: -5px;
        left: 0;
    }

    .ui-resizable-e {
        cursor: e-resize;
        width: 7px;
        right: -5px;
        top: 0;
        height: 100%;
    }

    .ui-resizable-w {
        cursor: w-resize;
        width: 7px;
        left: -5px;
        top: 0;
        height: 100%;
    }

    .ui-resizable-se {
        cursor: se-resize;
        width: 12px;
        height: 12px;
        right: 1px;
        bottom: 1px;
    }

    .ui-resizable-sw {
        cursor: sw-resize;
        width: 9px;
        height: 9px;
        left: -5px;
        bottom: -5px;
    }

    .ui-resizable-nw {
        cursor: nw-resize;
        width: 9px;
        height: 9px;
        left: -5px;
        top: -5px;
    }

    .ui-resizable-ne {
        cursor: ne-resize;
        width: 9px;
        height: 9px;
        right: -5px;
        top: -5px;
    }
</style>
